<h2><b>Node.js Configuration</b> </h2> 
<div class="summary description">

  <p>This is the API documentation for the
    <a href="https://github.com/lorenwest/node-config">node-config</a> open source module.
  </p>

  <h3>node-config Project Goals</h3>
  <ul>
    <li>Simple - Get started fast</li>
    <li>Predictable - Well tested</li>
    <li>Flexible - Reasonable defaults & hackable</li>
    <li>Powerful - For multi-node enterprise deployment</li>
  </ul>

  <h3>Getting Started</h3>
  <ul>
    <li>Simple - Get started fast</li>
    <li>Predictable - Well tested</li>
    <li>Flexible - Reasonable defaults & hackable</li>
    <li>Powerful - For multi-node enterprise deployment</li>
  </ul>

</div>
