<h2><b>Online Documentation</b> </h2> 
<div id="overview" class="summary description">
 
  <h2>Bootstrap TODO</h2>
  <ul>
    <li>O - Get tests running on Node 0.4</li>
    <li>O - New npm and package.json</li>
    <li>O - Remove dependency on deps</li>
    <li>O - Get docs working again (look at news player)</li>
  </ul>
 
  <h2>Features TODO</h2>
  <ul>
    <li>O - Re-think emitter/listener/mapper/reducer paradigm for monitoring</li>
    <li>O - Re-cast loggers, email, alerts, etc. into new pluggable paradigm</li>
  </ul>

  <h2>Introduction</h2>
  <p>
    Node-monitor is ...
  </p>

  <h2>Project Guidelines</h2>
  <ul>
    <li>Simple - Get started fast</li>
    <li>Predictable - Well tested and stable</li>
    <li>Flexible - Reasonable defaults & hackable</li>
    <li>Powerful - For multi-node enterprise deployment</li>
    <li>Easy Integration - For module developers</li>
  </ul>
     
  <h2>Getting Started</h2>
  <p>
    See the quick-start guide hosted on <a href="https://github.com/lorenwest/node-monitor">github</a>  
  </p>
 
  <h2>...</h2>
  <p>
    ...
  </p>

  <p style="text-align:right; padding-bottom:0; font-size:93%;">
    Online docs built by <a href="http://developer.yahoo.com/yui/yuidoc/">yui-doc</a> and hosted by <a href="http://lorenwest.github.com">github</a>.
  </p>

</div>
